.pagination li a {
    padding: 5px 10px;
    border: 1px solid #ddd;
    font-weight: 600;
}
.pagination li .active {
    background:#369cbe;padding:5px 10px;
    border:1px solid #369cbe;
    color:#fff;
}
.text-center {
    justify-content:center!important
}